.contenedorPrincipal{
  width: 100%;
  
}
.body{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  max-height: 80%;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;

}



